:root {
    --light-blue: #C7E7FE;
    --light-turquoise: #D4F6FF;
    --white: #FBFBFB;
    --light-orange: #FFDDAF;
    --grey: #726E6E;
}

#navbar{
    background-color: var(--light-blue);
    color: var(--grey);
}

#footer{
    color: var(--grey);
}

.seat {
    width: 40px;
    height: 40px;
    margin: 5px;
    text-align: center;
    line-height: 40px;
    border: 1px solid #ddd;
    cursor: pointer;
}

.seat.selected {
    background-color: green;
    color: white;
}

.seat.booked {
    background-color: gray;
    color: white;
    cursor: not-allowed;
}

.seat-row {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}



/* admin */
.hover-bg:hover {
    background-color: blue  ;
    cursor: pointer;
    color: black;
  }
  