:root {
    --light-blue: #C7E7FE;
    --light-turquoise: #D4F6FF;
    --white: #FBFBFB;
    --light-orange: #FFDDAF;
    --grey: #726E6E;
}

#navbar{
    background-color: var(--light-blue);
    color: var(--grey);
}

#footer{
    color: var(--grey);
}

.seat {
    width: 40px;
    height: 40px;
    margin: 5px;
    text-align: center;
    line-height: 40px;
    border: 1px solid #ddd;
    cursor: pointer;
}

.seat.selected {
    background-color: green;
    color: white;
}

.seat.booked {
    background-color: gray;
    color: white;
    cursor: not-allowed;
}

.seat-row {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}



/* admin */
.hover-bg:hover {
    background-color: blue  ;
    cursor: pointer;
    color: black;
  }
  
#booking-card{
    cursor: pointer;
}


/* ticket */
.ticket {
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 16px;
    margin: 16px 0;
    background-color: #f9f9f9;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.ticket-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 16px;
}

.ticket-header h3 {
    margin: 0;
}

.ticket-body {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.ticket-body div {
    flex: 1 1 45%;
    margin-bottom: 8px;
}

.ticket-footer {
    text-align: right;
    margin-top: 16px;
}


/* pdf download */
.download-btn {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    border-radius: 5px;
    margin-top: 10px;
}

.download-btn:hover {
    background-color: #0056b3;
}
